*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: "Work Sans", serif;
    -webkit-font-smoothing: antialiased;
}

#app {
    container-type: inline-size;
}

/** Header */
header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.625rem 2rem;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.nav-container.glass-effect {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.logo {
    max-height: 2.831rem;
}

.logo-container {
    display: flex;
    align-items: center;
}

.social-links-container {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link img {
    max-width: 24px
}

/** Video Hero */
.video-hero-container {
    height: 100%;
}

.video-hero {
    object-fit: cover;
    max-height: 40rem;
    width: 100%;
}

/** About Us */
.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 1.5rem;
    gap: 2rem;
}

.about-us-title {
    max-width: 65rem;
    font-size: clamp(1.8rem, 5vw, 3.125rem);
    font-weight: 700;
    text-align: center;
    font-weight: 300;
    line-height: 130%;
}

.about-us-title span {
    color: #2151f3;
    font-weight: 700;
    font-style: italic;
    font-family: "DM Serif Display", serif;
}

.business-partners-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    padding-top: 3rem;
}

.business-partner-logo {
    max-height: 3.75rem;
    object-fit: contain;
}

/** Solutions */
.solutions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24252a;
    padding: 6rem 1rem;
    width: 100%;
}

.solutions-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    max-width: 80rem;
}

.solution-title-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.solution-title {
    position: relative;
    font-size: clamp(1.7rem, 4vw, 2.1875rem);
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.4s ease;
    cursor: pointer;
}

.solution-title.active {
    color: #ffeb3b;
}

.solution-title.active::before {
    content: "";
    width: 25px;
    height: 25px;
    background-image: url("/mobile_hover.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
    flex-shrink: 0;
}

.solutions-content-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution-content-image {
    max-width: 700px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    opacity: 1;
    transition: opacity 0.6s ease;
}

.solution-content-image.fading {
    opacity: 0;
}

@container (width <= 768px) {
    header {
        position: relative;
    }
    
    .nav-container {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .about-us-title {
        text-align: left;
    }

    .business-partners-container {
        padding-top: 2rem;
    }

    .solutions-container {
        flex-direction: column;
        padding: 4rem 1rem;
    }

    .solution-title-container {
        margin-left: 2.5rem;
        gap: 1.5rem;
    }
}